header {grid-area: header}
nav {grid-area: nav}
main {grid-area: main}
footer {grid-area: footer}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav main main'
    'footer footer footer';
    grid-template-columns: 0.25fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

body{
    padding: 0% 15%;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

#p5Canvas {
    position: fixed;
    inset: 0;
    pointer-events: none;
}

header {
    background-color: aqua;
    height: 150px;
}
.heroImage{
    background-image: url('../img/garden.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    position:relative;
}
.heroText {
    text-align: center;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

nav {
    background-color: rgb(216, 230, 195);
    height: auto;
    font-size: 20pt;
}
nav li {
    display: inline;
    position:relative;
    left: -20px;    
    line-height: 40px;
}
nav li a {
    text-decoration: none;
    color: rgb(255, 106, 0);
}
nav li a:hover{
    color:white;
}

main {
    background-color: transparent;
}
article {
    background-color: aliceblue;
    border: 3px greenyellow solid;
    padding: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

footer {
    background-color: rgb(215, 215, 215);
    height: 100px;
    text-align: center;
    color: white;
}
footer p {
    margin-top: 50px;
}

@media screen and (max-width: 800px){

}



